{{> privateNavBar }}
{{log this level="info" }}
<div class="form-outline mb-4">
          <form action="">
            <input type="text" id="update-comment-input" class="form-control" placeholder="{{ data.commentText }}" />
            <button type="submit" class="btn btn-primary" id="update-comment-btn" data-id = "{{ id }}">Submit</button>
          </form>
        </div>
</div>